// 定义主题变量
$s-border-radius: var(--s-border-radius, 2px); //一般圆角
$s-font-size-md: var(--s-font-size-md, 12px); //一般字体大小
$s-animation-duration-slow: var(
  --s-animation-duration-slow,
  0.3s
); //一般动画时间
$s-animation-ease-in-out: var(
  --s-animation-ease-in-out,
  cubic-bezier(0.645, 0.045, 0.355, 1)
); //一般动画速度
$s-light-text: var(--s-light-text, #fff); //有色深色北京下字体颜色
$s-primary: var(--s-primary, #5e7ce0); //主题色
$s-primary-hover: var(--s-primary-hover, #7693f5); //主题色hover
$s-primary-active: var(--s-primary-active, #344899); //主题色active
$s-text: var(--s-text, #252b3a); //正文文本
$s-block: var(
  --s-block,
  #ffffff
); //大面积不可折叠区块背景色（例如顶部导航背景色）
$s-line: var(--s-line, #adb0b8); //分割线颜色,仅仅用于边框
$s-form-control-line-active: var(
  --s-form-control-line-active,
  #5e7ce0
); //表单控件active状态下的边框颜色
$s-brand-active: var(--s-brand-active, #5e7ce0); //品牌色active(加深)
$s-brand-active-focus: var(
  --s-brand-active-focus,
  #344899
); //品牌色active（重度加深）
